<div class="container text-center">
  <h1>About Us</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community for
  developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur 
  adipisicing elit. Alias quas ipsa, reiciendis exercitationem vel dignissimos, 
  aliquam ut voluptates eligendi, earum distinctio. Ipsam id odio, facilis quo 
  placeat exercitationem inventore. Quisquam.
  </p>
</div>